<%= link_to  product_path(product), class: 'product', 'data-turbo-frame': '_top' do %>
  <h2><%= product.title %></h2>
  <%= image_tag product.photo, size: '200x200' if product.photo.attached? %>
<% end %>
<span>$<%= product.price %></span>
